@inherits Umbraco.Web.Macros.PartialViewMacroPage
<section class="privacy-policy w-full bg-gray-100 text-gray-900 py-12">
	<div class="container mx-auto px-4 sm:px-6 lg:px-8 max-w-3xl">
		<h1 class="text-3xl font-semibold text-center mb-8">Chính Sách Đặt Phòng Và Nhận Phòng</h1>

		<h2 class="text-2xl font-semibold mt-8 mb-4">1. Chính Sách Nhận Phòng</h2>
		<p class="mb-6">
			Chúng tôi luôn mong muốn mang đến cho bạn trải nghiệm nhận phòng nhanh chóng, tiện lợi và thoải mái nhất. Dưới đây là chính sách nhận phòng tại Nicecy
		</p>

		<h2 class="text-lg font-semibold mt-8 mb-4">1.1 Giờ Nhận Phòng:</h2>
		<p class="mb-6">
			Từ 14:00. Nếu muốn nhận phòng sớm, vui lòng liên hệ trước với chúng tôi. Chúng tôi sẽ cố gắng đáp ứng yêu cầu của bạn nếu phòng đã sẵn sàng cho nhận phòng
		</p>

		<h2 class="text-lg font-semibold mt-8 mb-4">1.2 Giờ Trả phòng</h2>
		<p class="mb-6">
			Trước 12:00. Nếu muốn trả phòng trễ, vui lòng liên hệ trước với chúng tôi trước giờ trả phòng. Tuỳ thuộc vào tình hình thực tế, yêu cầu của bạn có thể được đáp ứng miễn phí. Thông thường sau 13.00, các yêu cầu sẽ tuỳ thuộc vào tình trạng phòng và có tính phí.
		</p>

		<h2 class="text-2xl font-semibold mt-8 mb-4">2. Thủ Tục Nhận Phòng</h2>
		<p class="mb-6">
			Khi nhận phòng, quý khách cần cung cấp một số thông tin cần thiết:
			<ul class="list-disc pl-6 mb-4">
				<li><strong>Giấy tờ tùy thân hợp lệ (CMND, hộ chiếu)</strong></li>
				<li><strong>Xác nhận đặt phòng (nếu có)</strong></li>
				<li><strong>Thông tin thanh toán (nếu chưa thanh toán trước)</strong></li>
			</ul>
		</p>

		<h2 class="text-2xl font-semibold mt-8 mb-4">3. Nhận Phòng Trễ</h2>
		<p class="mb-6">
			Nếu không thể đến đúng giờ nhận phòng, xin vui lòng thông báo trước cho khách sạn để chúng tôi giữ phòng cho Bạn. Khi không đến nhận phòng và không thể liên lạc được với bạn, chúng tôi có quyền hủy đặt phòng mà không hoàn trả tiền.
		</p>

		<h2 class="text-2xl font-semibold mt-8 mb-4">4. Chính Sách Với Trẻ Em</h2>
		<ul class="list-disc pl-6 mb-4">
			<li>Trẻ em dưới 12 tuổi miễn phụ thu khi dùng giường có sẵn</li>
			<li>Trẻ em trên 12 tuổi phụ thu 250k </li>
			<li>Nếu có tận 2 trẻ em dưới 12 tuổi thì free một bé, bé còn lại thu 250k</li>
		</ul>

	</div>
</section>
