################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/nicecyprj/.vs/nicecyprj/FileContentIndex/2ede9342-dfa1-4215-811b-052a84bfd027.vsidx
/nicecyprj/.vs/nicecyprj/FileContentIndex/6fff50e3-b144-4a57-96c6-870b48fa971e.vsidx
/nicecyprj/.vs/nicecyprj/FileContentIndex/a3b4af48-1765-4860-9bd7-9dc105891627.vsidx
/nicecyprj/.vs/nicecyprj/FileContentIndex/cd4d1724-d410-4658-9849-e0ab3bb23991.vsidx
/nicecyprj/.vs/nicecyprj/FileContentIndex/f4d03185-dede-411a-aa0f-99ecf08ad357.vsidx
/nicecyprj/nicecyprj/App_Data
