@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Hotel = Umbraco.Web.PublishedModels.Hotel;
@using City = Umbraco.Web.PublishedModels.City;
@using District = Umbraco.Web.PublishedModels.District;

@{
	var node = Umbraco.Content(Model.Id);
	var latest_hotels_created = new List<IPublishedContent>();

	var cities = node.Children.Where(c => c.GetType().Name == "City").ToList();
	foreach (var city in cities)
	{
		var city_entry = (City)city;

		if (city_entry.FeaturedDistricts != null)
		{
			var districts = city_entry.FeaturedDistricts.ToList();

			foreach (var district in districts)
			{
				var district_entry = (District)district;

				if (district_entry.FeaturedHotels != null)
				{
					var hotels = district_entry.FeaturedHotels.ToList();

					latest_hotels_created.AddRange(hotels);
				}
			}
		}
	}

	latest_hotels_created = latest_hotels_created.OrderByDescending(c => c.UpdateDate).Take(4).ToList();
}


<div class="w-full mt-[500px]">
	<div class="container mx-auto py-10">
		<h1 class="text-3xl font-bold text-center mb-10">Khám phá các Village mới</h1>
		<div class="grid md:grid-cols-3 gap-6 p-2">
			@if (latest_hotels_created != null && latest_hotels_created.Count > 0)
			{
				var random = new Random();
				foreach (var hotel in latest_hotels_created)
				{
					var hotel_entry = (Hotel)hotel;
					var image_index_random = random.Next(3);
					var hotel_image = hotel_entry.Photos.ToList()[image_index_random].Url();
					var hotel_title = hotel_entry.Name;
					var hotel_short_description = hotel_entry.HotelShortDescription;
					var hotel_url = hotel_entry.Url();
					<div class="bg-white shadow-lg rounded-lg overflow-hidden">
						<img src="@hotel_image"
							 alt="@hotel_title" class="w-full h-48 object-cover">
						<div class="p-5">
							<p class="text-sm text-gray-500 mb-1">CHI NHÁNH MỚI: ĐÀ NẴNG</p>
							<h2 class="text-xl font-semibold mb-3">@hotel_title</h2>
							<p class="text-gray-700 text-sm">
								@hotel_short_description
							</p>
							<a href="@hotel_url" class="text-orange-600 font-bold mt-4 block hover:text-orange-500">
								<span class="hover:text-orange-500">Đặt ngay →</span>
							</a>
						</div>
					</div>
				}
			}
		</div>
	</div>

</div>

